.rwmb-input{
    &.loading{
        position: relative; 
        
        &:before{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url(../images/spinner.gif) no-repeat;
            position: absolute;
            top: 4px;
            left: -20px;
        }
    }
}